pandas
pip-chill
inotify
numpy
requests
gunicorn
fastapi
pydantic
uvicorn[standard]
gunicorn
httptools
python-dotenv
matplotlib
pillow
crewai
crewai[tools]
openai
langchain_openai
langchain-community
sqlalchemy
langsmith
matplotlib
pillow
psycopg2-binary
websockets
poetry
boto3
